p {
font-family: 'Oswald', sans-serif;
}

h1 {
color: #0000f0;
}

h2 {
  color: #cf3883;
  font-weight: 200;
  }

ul {
  color: #b0dd33;
}

ol {
  color: #eca53b;
}

li {
  color: #bbabe7;
}

img {
  float: left;
}