p {
font-family: 'Oswald', sans-serif;
}

h1 {
color: #0000f0;
}

h2 {
  color: #cf3883;
  font-weight: 200;
  font-family: 'Pacifico', cursive;
  }

ul {
  color: #b0dd33;
}

ol {
  color: #eca53b;
}

li {
  color: #3133da;
}
#container {
  max-height: 500px;
  display: flex;
  flex-flow: column wrap;
  background-color: #bcd3f1;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  background-color: #c5c5c5;
 }

